---
import { getCollection, render } from 'astro:content';
import Layout from "@/layouts/Layout.astro";
import { db, Comment, eq, desc } from "astro:db";
import BlogComments from '@/components/blog/BlogComments.vue';

export const prerender = true;
export async function getStaticPaths() {
  const entries = await getCollection("blog");
  return entries.map((e) => ({
    params: { id: e.data.id },
    props: { blog: e },
  }));
}

const { blog } = Astro.props;
const { Content } = await render(blog);
const comments = await db.select().from(Comment)
  .where(
    eq(Comment.postSlug, blog.data.id),
  ).orderBy(desc(Comment.createdAt));
---

<Layout title={blog.data.title} description={blog.data.description}>
  <div class="pt-20 pb-10">
    <div class="mx-auto prose prose-lg prose-headings:text-primary-500 prose-img:max-w-xl prose-img:max-h-96 prose-img:object-contain! dark:text-white  min-w-3xl">
      <h1>
        {blog.data.title}
      </h1>
      <Content />
    </div>
    <BlogComments slug={blog.data.id} comments={comments} client:load />
  </div>
</Layout>
