---
import { Image } from "astro:assets";

import Card from "@/components/ui/Card.astro";
import LabeledValue from "@/components/ui/LabeledValue.astro";
import HandWritingBlock from "@/components/ui/HandWritingBlock.astro";
import Scroller from "@/components/ui/client/Scroller.vue";
import { getEntry } from "astro:content";
import { localizePath } from "../utils/locale";

const profile = await getEntry("profile", localizePath(Astro, "profile"))!;
const scroller = await getEntry(
  "section",
  localizePath(Astro, profile.data.scroller)
)!;
---

<section
  id="characterProfile"
  class="flex h-dvh min-h-dvh max-w-full snap-center flex-col justify-center gap-6 md:pt-16"
>
  <div class="flex items-center justify-center gap-6 max-md:flex-col-reverse">
    <div
      data-aos="fade-left"
      data-aos-delay="300"
      class="my-auto flex flex-col gap-1 max-md:w-full max-md:max-w-md max-md:px-8"
    >
      {
        profile.data.facts.map(fact => (
          <LabeledValue id={fact.id} label={fact.label}>
            {fact.value}
          </LabeledValue>
        ))
      }
    </div>
    <Card class="aspect-square max-w-lg" animation="zoom-in">
      <Image
        src={profile.data.picture}
        alt="Avatar"
        loading="eager"
        fetchpriority="high"
        layout="constrained"
      />
    </Card>
    <div class="flex w-80 min-w-64 flex-col justify-center gap-4 max-lg:hidden">
      {
        profile.data.traits.map((trait, idx) => (
          <HandWritingBlock
            label={trait.label}
            data-aos-delay={150 * (idx + 1)}
          >
            {trait.value.map(value => (
              <span>{value}</span>
            ))}
          </HandWritingBlock>
        ))
      }
    </div>
  </div>
  <Scroller
    class="max-md:hidden"
    data-aos="zoom-in"
    data-aos-delay={750}
    elementId={scroller.data.target}
    client:load
  >
    {scroller.data.prompt}
  </Scroller>
</section>
