---
import Card from "@/components/ui/Card.astro";
import Stat from "@/components/ui/Stat.astro";
import Feature from "@/components/ui/Feature.astro";
import Skill from "@/components/ui/Skill.astro";
import SkillsCarousel from "@/components/sheet/ProficiencyCarousel.vue";
import Scroller from "@/components/ui/client/Scroller.vue";
import DiceBox from "@/components/ui/DiceBox.astro";
import { getEntry, getCollection, getEntries } from "astro:content";
import { getLocaleFilter, localizePath } from "../utils/locale";

const sheet = await getEntry("sheet", localizePath(Astro, "sheet"))!;
const stats = await getCollection("stats", getLocaleFilter(Astro))!;
const icons = await getEntries(sheet.data.proficiencies.value);
const iconsTwo = await getEntries(sheet.data.proficiencies.valueTwo);
const scroller = await getEntry(
  "section",
  localizePath(Astro, sheet.data.scroller)
)!;
---

<section
  id="characterSheet"
  class="relative flex min-h-dvh max-w-full snap-start flex-col gap-6 pt-16 md:h-dvh md:snap-center"
>
  <div class="my-auto">
    <div class="my-auto flex gap-6 max-md:flex-col lg:max-w-5xl">
      <Card
        class="max-w-fit grow-0"
        heading={sheet.data.stats.title}
        padding={4}
      >
        <div
          class="flex h-full max-w-fit grow-0 flex-wrap justify-center gap-3 md:flex-col md:justify-around"
        >
          {
            stats.map(stat => (
              <Stat
                label={stat.data.label}
                value={stat.data.value}
                id={stat.data.id}
              />
            ))
          }
        </div>
      </Card>
      <Card class="shrink-0 grow" padding={4}>
        <h1
          class="text-primary-500 mb-4 select-none text-center text-xl font-bold uppercase"
        >
          {sheet.data.skills.title}
        </h1>
        <div class="flex h-full w-fit flex-col justify-around gap-4">
          {
            sheet.data.skills.entries.map(skill => (
              <Skill name={skill.name} stat={skill.stat.id} />
            ))
          }
        </div>
      </Card>
      <div class="flex flex-col gap-6 overflow-hidden">
        <Card heading={sheet.data.features.title} class="grow" padding={4}>
          <div
            class="flex grow flex-col justify-around gap-2 overflow-y-scroll md:max-h-96"
          >
            {
              sheet.data.features.entries.map(feature => (
                <Feature
                  name={feature.name}
                  stat={feature.stat.id}
                  description={feature.description}
                />
              ))
            }
          </div>
        </Card>
        <Card
          heading={sheet.data.proficiencies.title}
          data-aos-offset="-25"
          padding={4}
        >
          <SkillsCarousel
            icons={icons.map(i => ({
              src: i.data.icon,
              label: i.data.label,
            }))}
            iconsTwo={iconsTwo.map(i => ({
              src: i.data.icon,
              label: i.data.label,
            }))}
            client:load
          />
        </Card>
      </div>
    </div>
    <Scroller
      class="mt-6 max-md:hidden"
      data-aos="zoom-in"
      data-aos-offset="-25"
      data-aos-delay={300}
      elementId={scroller.data.target}
      client:load
    >
      {scroller.data.prompt}
    </Scroller>
  </div>
  <DiceBox />
</section>
