---
import InventoryCard from "./inventory/InventoryCard.astro";
import Scroller from "@/components/ui/client/Scroller.vue";
import { getEntry } from "astro:content";
import { localizePath } from "../utils/locale";

const inventory = await getEntry(
  "inventory",
  localizePath(Astro, "inventory")
)!;
const scroller = await getEntry(
  "section",
  localizePath(Astro, inventory.data.scroller)
)!;
---

<section
  id="characterInventory"
  class="flex min-h-dvh max-w-full snap-start flex-col gap-6 pt-16 md:h-dvh md:snap-center"
>
  <div class="my-auto flex flex-col gap-6">
    <h1
      data-aos="fade-in"
      class="text-primary-500 -mb-2 text-center text-2xl font-bold"
    >
      Inventory
    </h1>
    <div
      class="flex w-full snap-x snap-mandatory justify-center gap-6 max-md:-ml-4 max-md:-mt-4 max-md:w-dvw max-md:overflow-x-scroll max-md:py-4 max-sm:pl-64"
    >
      <div class="h-1 w-96 shrink-0 md:hidden"></div>
      {
        inventory.data.projects.map(card => (
          <InventoryCard
            title={card.title}
            description={card.description}
            url={card.url}
            icon={card.icon}
            links={card.links}
          />
        ))
      }
      <div class="h-1 w-4 shrink-0 md:hidden"></div>
    </div>
    <Scroller
      data-aos-delay="200"
      data-aos="zoom-in"
      elementId={scroller.data.target}
      client:visible
    >
      {scroller.data.prompt}
    </Scroller>
  </div>
</section>
