---
import LinkIcon from "@/components/ui/client/LinkIcon.vue";
import Typed from "@/components/ui/client/Typed.vue";

import { getEntries, getEntry } from "astro:content";
import { localizePath } from "../utils/locale";

const contact = await getEntry("contact", localizePath(Astro, "contact"))!;
const icons = await getEntries(contact.data.links)!;
---

<section
  id="sendARaven"
  class="flex min-h-dvh max-w-full snap-start flex-col gap-6 py-16 md:h-dvh md:snap-center"
>
  <div class="my-auto">
    <h1
      data-aos="fade-up"
      class="flicker-in-2 text-primary-500 mb-4 text-center text-2xl font-bold"
    >
      {contact.data.title}
    </h1>
    <Typed
      client:visible
      delay={1000}
      class="mb-12 text-lg"
      text={contact.data.lineOneText}
    />
    <Typed
      client:visible
      delay={5000}
      text={contact.data.lineTwoText}
      class="text-success-500 mb-4 text-xl font-bold"
    />
    <div
      data-aos="fade-up"
      data-aos-delay="7500"
      data-aos-duration="500"
      class="mx-auto mb-4 flex w-fit flex-wrap justify-center gap-6 gap-y-4"
    >
      {
        icons.map(i => (
          <LinkIcon
            large
            client:visible
            label="E-Mail"
            icon={i.data.icon}
            label={i.data.label}
            href={i.data.href}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  [data-aos-delay="7500"].aos-animate {
    transition-delay: 7500ms;
  }
</style>
