---
import DiceRoller from "@/components/client/DiceRoller.vue";

interface Props {
  label: string;
  value: number;
  id: string;
}

const { label, value, id } = Astro.props;
const modifier = Math.floor((value - 10) / 2);
---

<div class="relative mb-2 h-20 w-20">
  <div class="cutout p-0.25 bg-primary-500 h-full w-full">
    <div
      class="cutout flex h-full w-full flex-col items-center justify-center bg-black px-2"
    >
      <label
        class="text-primary-500 absolute top-1 text-sm font-bold uppercase"
        for={id}
      >
        {label}
      </label>
      <span class="font-number text-2xl oldstyle-nums" id={id}>{value}</span>
    </div>
  </div>
  <div
    style="--cutout-corner: 0.75em"
    class="cutout p-0.25 bg-primary-500 font-heading absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/3 font-bold oldstyle-nums"
  >
    <DiceRoller
      modifier={modifier}
      class="cutout flex h-7 w-7 items-center justify-center bg-black"
      client:visible
    >
      <span class="-ml-1 text-sm">
        {`+${modifier}`}
      </span>
    </DiceRoller>
  </div>
</div>
